{% extends '::base.html.twig' %}

{% block container %}
    <h1>Participants</h1>

    <a href="{{ path('admin_participants_new') }}">New</a>

    <table class="table">
        <tr>
            <th scope="col"></th>
            <th scope="col">Nom</th>
            <th scope="col">
                <a href="{{ path('admin_participants', {
                    date: app.request.query.get('date') == 'ASC' ? 'DESC' : 'ASC'
                }) }}">Dernier ptidej</a>
            </th>
            <th scope="col" colspan="2">Actions</th>
        </tr>
        {% for participant in participants %}
            <tr>
                <td>
                    <img src="{{ vich_uploader_asset(participant, 'avatarFile')| imagine_filter('participant_avatar_thumb') }}" />
                </td>
                <td>
                    {{ participant.name }}
                </td>
                <td>
                    {{ participant.lastParticipatedAt|date("d/m/Y") }}
                </td>
                <td>
                    <a href="{{ path('admin_participants_edit', {'id': participant.id}) }}">Edit</a>
                </td>
                <td>
                    <a href="{{ path('admin_participants_delete', {'id': participant.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock container %}
